.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.mat-form-field{
  max-width: 100%;
}

.main-card{
}

.step-card{

}



.mat-card{
  /*max-width: 30vh;*/
  justify-content: center;
  margin: 10px;
}
.step-container{
}

.step-data{
  max-width: 100%;
}

.containerForm{
}